@import './config/variables.scss';

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
  height: auto;
}

body {
  font-family: $dmsans;
  font-weight: 400;
  color: $darck-light;
}

dd {
  margin: 0;
}
a {
  text-decoration: none;
}
.btn {
  width: $offset*14;
  height: $offset*4;
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $violet;

  &:hover{
    background-color: #FF7143;
  }
}

.hide{
  display: none;
}