@font-face {
  font-family: "DMSans";
  src: 
    url(../font/DMSans-Bold.woff2) format("opentype"),
    url(../font/DMSans-Bold.woff) format("opentype"),
    url(../font/DMSans-Bold.ttf) format("opentype"),
    url(../font/DMSans-Bold.eot) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "DMSans";
  src: 
    url(../font/DMSans-Italic.woff2) format("opentype"),
    url(../font/DMSans-Italic.woff) format("opentype"),
    url(../font/DMSans-Italic.ttf) format("opentype"),
    url(../font/DMSans-Italic.eot) format("opentype");
  font-weight: 400;
}


@font-face {
  font-family: "DMSans";
  src: 
    url(../font/DMSans-Regular.woff2) format("opentype"),
    url(../font/DMSans-Regular.woff) format("opentype"),
    url(../font/DMSans-Regular.ttf) format("opentype"),
    url(../font/DMSans-Regular.eot) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: 
    url(../font/Mulish-Bold.woff2) format("opentype"),
    url(../font/Mulish-Bold.woff) format("opentype"),
    url(../font/Mulish-Bold.ttf) format("opentype"),
    url(../font/Mulish-Bold.eot) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Mulish";
  src: 
    url(../font/Mulish-Italic.woff2) format("opentype"),
    url(../font/Mulish-Italic.woff) format("opentype"),
    url(../font/Mulish-Italic.ttf) format("opentype"),
    url(../font/Mulish-Italic.eot) format("opentype");
  font-weight: 400;
}


@font-face {
  font-family: "Mulish";
  src: 
    url(../font/Mulish-Regular.woff2) format("opentype"),
    url(../font/Mulish-Regular.woff) format("opentype"),
    url(../font/Mulish-Regular.ttf) format("opentype"),
    url(../font/Mulish-Regular.eot) format("opentype");
  font-weight: 400;
}