@import './base/font.scss';
@import './config/variables.scss';
@import './base/base.scss';
@import './base/content.scss';
@import './config/mixin.scss';


.container{
  max-width: 1146px;
  margin: 0 auto;
  padding: $offset*2;
	min-width: 280px;
	@include screen-maxw(500px){
		padding: $offset;
	}
	
}


.row{
	display: flex;
	flex-wrap: wrap;
	margin: $offset*(-1);
	@include screen-maxw(500px){
	  margin: $offset*(-0.5);
	}
}

.col{
	margin: $offset;
	box-sizing: border-box;
	@include screen-maxw(500px){
	  margin: $offset*0.5;
	}
}

/*Header*/

@import './block/header.scss';

/*Buisness*/

@import './block/buisness.scss';

/*Partners*/

@import './block/partners.scss';

/*Graphics*/

@import './block/graphics.scss';

/*Metrics*/

@import './block/metrics.scss';

/*Metrics*/

@import './block/service.scss';

/*Offer*/

@import './block/offer.scss';