@import '../config/variables.scss';
@import '../config/mixin.scss';

.business{
  &-content{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @include screen-maxw(990px){
      flex-direction: column-reverse;
    }
  }
  &-description {
    max-width: calc((100% / 12)*4);
    @include screen-maxw(990px){
      max-width: 100%;
    }
  }
  &-description__list {
    margin-bottom: 50px;
  }
  &-img {
    @include screen-maxw(990px){
      max-width: 100%;
    }
  }
  &-title {
    font-size: 80px;
    color: $darck;
    letter-spacing: -4px;
    line-height: 77px;
    font-weight: 700;
    margin-bottom: 30px; 
    @include screen-maxw(990px){
      font-size: 60px;
      letter-spacing: -2px;
      line-height: normal;
    } 
    @include screen-maxw(600px){
      font-size: 40px;
    } 
  }

}

.arrow{
  width: 60px;
  height: 60px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  color: $darck;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    border: 1px solid $darck;
  }

}

