@import '../config/variables.scss';
@import '../config/mixin.scss';

.offer-content {
  margin-bottom: 80px;
}

/*Offer-head*/

.offer-content__head{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  @include screen-maxw(750px){
    flex-direction: column;
	}
}

.offer-content__head-title {
  max-width: calc((100%/12)*6);
  @include screen-maxw(990px){
    max-width: calc((100%/12)*6 - $offset*2);
	}
  @include screen-maxw(750px){
    max-width: 100%;
	}
}
.offer-content__head-toggle{
  max-width: calc((100%/12)*4);
  @include screen-maxw(990px){
    max-width: calc((100%/12)*6 - $offset*2);
	}
  @include screen-maxw(750px){
    max-width: 100%;
	}
}
.h2{
  color: $darck;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2px;
  @include screen-maxw(990px){
    font-size: 40px;
	}
  @include screen-maxw(750px){
    font-size: 30px;
    line-height: normal;
	}
}

.toggle-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: $offset*23;
  height: $offset*4.5;
  background-color: #f7f7fb;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: $darck;
  @include screen-maxw(500px){
    width: $offset*11.5;
    height: $offset*2;
    margin-bottom: 30px;
	}
}

.btn-year,
.btn-month {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $offset*11;
  height: $offset*3.6;
  background-color: $violet;
  color: #fff;
  @include screen-maxw(500px){
    width: $offset*5.5;
    height: $offset*1.8;
	}
}

.active-toggle{
  background-color: inherit;
  color: inherit;
}

.btn-year{
  border-radius: 10px 0 0 10px; 
}

.btn-month{
  border-radius: 0 10px 10px 0;
}

/*Offer-price*/

.offer-content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include screen-maxw(600px){
    flex-wrap: wrap;
    gap: 10px;
	}
}

.offer-content__price-item,
.offer-content__price-item,
.offer-content__price-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //width: $offset*22;
  height: $offset*29.4;
  width: calc((100% / 12) * 3.8);
  background-color: #f8f8f8;
  border-radius: 10px;
  font-size: 17px;
  text-align: center;

  @include screen-maxw(750px){
    height: $offset*26;
	}
  @include screen-maxw(600px){
    height: $offset*26;
    width: 100%;
	}
}

.offer-content__overview-sites,
.offer-content__overview-hosting,
.offer-content__overview-support {
  font-family: $mulish;
  margin-bottom: 30px;
}

.offer-content__overview-support{
  margin-bottom: 50px;
}

.offer-content__overview-name{
  font-size: 18px;
}

.offer-content__overview-price,
.offer-content__overview-name{
  margin-bottom: 22px;
}

.time,
.price {
  font-weight: 700;
  color: $darck;
}
.time{
  font-size: 28px;
  @include screen-maxw(750px){
    font-size: 24px;
	}
}

.price {
  font-size: 60px;
  @include screen-maxw(750px){
    font-size: 40px;
	}
}

.offer-content__overview-btn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: calc((100% / 12) * 11);
  height: $offset*4;
  border-radius: 10px;
  border: 1px solid #eae9f2;
  color: $violet;
  font-weight: 700;
}

.price-toggle-active{
  //width: $offset*25;
  width: calc((100% / 12) * 4);
  height: $offset*31.5;
  background-color: #ff7143;
  color: #fff;

  & .time, .price{
    color: inherit;
  }

  & .offer-content__overview-btn {
    color: inherit;
    width: calc((100% / 12) * 11);
    background-color: #9f3919;
    border: none;
  } 
  @include screen-maxw(750px){
    height: $offset*28;
	}
}
